<form action="/compute/show_system/" method="POST">
	<!--Setting the selection options-->  
	<div class="col-xs-12 col-sm-6">
		<label for="angle">Select GNR junction angle:</label>
	        <select name="angle" onChange="checkOption(this)" required >
	            <option value='180'>180</option>
	            <option value='120'>120</option> 
	            <option value='60'>60</option> 
	        </select>
	</div>
	<div class="col-xs-12 col-sm-6">
	      <label for="distance">Select distance between leads:</label>
	       <select name="distance" id="distance">
		       <option value='1'>1</option>
             	       <option value='2'>2</option>
		       <option value='3'>3</option>
	       </select>
	</div>
	<div class="col-xs-12 col-sm-6">
		<label for="width">Enter GNR width:</label>
		<input type="text" name="width" value="4" size="1" onChange="checkeven(this)" required >
	</div>
	<div class="col-xs-12 col-sm-6">
                <label for="shift">Select shift:</label>
                <select name="shift" id="shift">
			<option value='0'>0</option>
			<option value='1'>1</option>
			<option value='2'>2</option>
			<option value='3'>3</option>
			<option value='4'>4</option>
			<option value='5'>5</option>
                 </select>
	</div>
	<div class="col-xs-12 col-sm-6">
		<label for="chiral">Select chirality:</label>
	        <select name="chiral" id=chiral>
			<option value='0'>Up</option>
			<option value='1'>Down</option>
	        </select>
	</div>
      <!--First submit button, that builds a junction and has the action of the form -->
      <div class='row' style="text-align: center">
	<input type="submit" value="Display junction" class="btn btn-default">
      </div>
      <!--The image of the junction-->
      <div>
	      <img src={{structure}} alt="Junction should be here" height="300" width="300">
      </div>
      <!--Selection of which atoms to delete-->
      <div class="col-xs-12 col-sm-6">
	      <label for="width">Enter the atoms to remove separated by a comma:</label>
	      <input type="text" name="atoms_remove" value="1,4,2" size="20">
      </div>
      <!--Here we have the ''remove atoms'' with DIFFERENT action than the form. Need to add the ''reset'' button-->
      <div class='row' style="text-align: center">
	      <input type="submit" formaction="/compute/remove_atoms/" value="Remove atoms" class="btn btn-default">
      </div>
      <!--Secion about selecting the initial energy range to compute the properties-->
      <div class="col-xs-12 col-sm-6">
	      <label for="width">Enter the energy range in terms of t for calculation of conductivity and density of states:</label>
    	      <input type="text" name="emin" value="-3" size="1">
	      <input type="text" name="emax" value="3" size="1">
      </div>
      <!--The last visible submit button to calculate the initial properties with DIFFERENT action than the form-->
      <div class='row' style="text-align: center">
	      <input type="submit" formaction="/compute/conductivity_DOS/" value="Calculate" class="btn btn-default">
      </div>
      <!--Below this line, the images and submit buttons should only be seen if calculations of conductivity and DOS have been done-->
      <div>                                                                                                                                                    <img src={{cond}} alt="Conductivity plot should be here" height="300" width="300">                                                               <img src={{DOS}} alt="DOS plot should be here" height="300" width="300">                                                                 </div>
      <!--Last input part-->
      <div class="col-xs-12 col-sm-4">
	      <label for="width">Enter the energy for calculation of LDOS and current map:</label>
	      <input type="text" name="en" value="0" size="1">
      </div>
      <div class="col-xs-12 col-sm-4">
	      <label for="width">Enter the mode (starting with 0) :</label>
	      <input type="text" name="mode" value="0" size="1">
      </div>
      <!--Last submit button with DIFFERENT action than the form action-->
      <div class='row' style="text-align: center">
	      <input type="submit" formaction="/compute/single_en_prop/" value="Calculate" class="btn btn-default">
      </div>
      <div>
	      <img src={{band}} alt="Band structure should be here" height="300" width="300">
	      <img src={{ldos}} alt="LDOS should be here" height="300" width="300">
      </div>
      <div>
	      <img src={{wfn}} alt="WFN should be here" height="100" width="300">
	      <img src={{current}} alt="Current should be here" height="300" width="300">
      </div>
</form>
<!--Scripts-->

<script type="text/javascript">
	function checkOption(obj) {
		var input1 = document.getElementById("shift");
		input1.disabled = (obj.value == "120"||obj.value == "60");
		var input2 = document.getElementById("distance");
		input2.disabled = obj.value == "60";
	}
        function checkeven(obj){
		var input3 = document.getElementById("chiral");
		input3.disabled = (Number(obj.value)%2)==1;
	}
</script>
